<div class="container">
  <div class="card">
    Logo: <span>{{info.logo}}</span><br/>
    Nome: <span>{{info.name}}</span><br/>
    País: <span>{{info.country}}</span><br/>
    Tipo industrial: <span>{{info.industry}}</span><br/>
    Setor: <span>{{info.sector}}</span><br/>
    Número de empregados: <span>{{info.employees}}</span><br/>
    Quem é o CEO: <span>{{info.ceo}}</span><br/>
    Site da empresa: <span>{{info.url}}</span><br/>
    Descrição: <span>{{info.description}}</span><br/>
    Bolsa de valores: <span>{{info.exchangeSymbol}}</span><br/>
    Endereço completo: <span>{{info.hq_address}}</span><br/>
    Tags referentes à empresa: <span>{{info.tags}}</span><br/>
  </div>
</div>