.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  width: 50vw;
  padding: 15px;
  color: #000;
  border-radius: 8px;
  background-color: #ccc;
}

span {
  background-color: #eee;
  color: #333;
}

h3 {
  background-color: #ccc;
  color: #000;
}
